In [1]:
a = [10, 20, 30, 40, 50]

In [3]:
print('a[0] = ', a[0], ', a[2] = ', a[2], ', a[4] = ', a[4])
print('a[-1] = ', a[-1], ', a[-2] = ', a[-2], ', a[-5] = ', a[-5])

a[0] =  10 , a[2] =  30 , a[4] =  50
a[-1] =  50 , a[-2] =  40 , a[-5] =  10

In [5]:
b = []
b.append(100), b.append(200), b.append(300)
print('b = ', b)

b =  [100, 200, 300]

In [6]:
c = [10, 20, 30, 40, 50]

print('c[0:2] = ', c[0:2], ', c[1:] = ', c[1:])
print('c[:3] = ', c[:3], ', c[:-2] = ', c[:-2])
print('c[:] = ', c[:])

c[0:2] =  [10, 20] , c[1:] =  [20, 30, 40, 50]
c[:3] =  [10, 20, 30] , c[:-2] =  [10, 20, 30]
c[:] =  [10, 20, 30, 40, 50]

In [7]:
a = (10, 20, 30, 40, 50)

print('a[0] = ', a[0], ', a[-2] = ', a[-2])
print('a[0:2] =', a[0:2], ', a[1:] =', a[1:], ', a[:] =', a[:])

a[0] =  10 , a[-2] =  40
a[0:2] = (10, 20) , a[1:] = (20, 30, 40, 50) , a[:] = (10, 20, 30, 40, 50)

In [8]:
a[0] = 100

TypeError: 'tuple' object does not support item assignment

In [10]:
score = {'KIM' : 90, 'LEE' : 85, 'JUN' : 95}
print(score)
print("score['KIM'] = ", score['KIM'])

{'KIM': 90, 'LEE': 85, 'JUN': 95}
score['KIM'] =  90

In [11]:
print(score.keys())
print(score.values())
print(score.items())

dict_keys(['KIM', 'LEE', 'JUN'])
dict_values([90, 85, 95])
dict_items([('KIM', 90), ('LEE', 85), ('JUN', 95)])

In [12]:
a = [10, 20, 30, 40, 50]
b = (10, 20, 30, 40, 50)
c = {'KIM' : 90, 'LEE' : 80 }
d = [ [100, 200], [300, 400], [500, 600]]

print(type(a), type(b), type(c), type(d))
print(len(a), len(b), len(c), len(d))

<class 'list'> <class 'tuple'> <class 'dict'> <class 'list'>
5 5 2 3

In [13]:
a = 1
if a > 0 :
    print("a ==", a)
    print("positive number")

elif a == 0 :
    print("a ==", a)
    print("zero")

else :
    print("a ==", a)
    print("negative number")

a == 1
positive number

In [14]:
list_data = [10, 20, 30, 40, 50]
dict_data = {'key1' : 1, 'key2' : 2}

if 45 in list_data :
    print("45 is in list_data")

else :
    print("45 is not in list_data")
    
if 'key1' in dict_data : 
    print("key1 is in dict_data")
    
else : 
    print("key1 is not in dict_data")

45 is not in list_data
key1 is in dict_data

In [15]:
for data in range(10) : 
    print(data, " ", end='')

0  1  2  3  4  5  6  7  8  9

In [16]:
for data in range(0, 10) :
    print(data, " ", end='')

0  1  2  3  4  5  6  7  8  9

In [17]:
for data in range(0, 10, 2) :
    print(data, " ", end='')

0  2  4  6  8

In [18]:
list_data = [10, 20, 30, 40, 50]

for data in list_data :
    print(data, " ", end='')

10  20  30  40  50

In [29]:
dict_data = {'key1' : 1, 'key2' : 2}

for data in dict_data : 
    print(data, " ", end='')
print()
print()
for key, value in dict_data.items() :
    print(key, " ", value)

key1  key2

key1   1
key2   2

In [30]:
list_data = [x**2 for x in range(5)]
print(list_data)

[0, 1, 4, 9, 16]

In [32]:
raw_data = [ [1, 10], [2, 15], [3, 30], [4, 55] ] 

all_data = [ x for x in raw_data ]
x_data = [ x[0] for x in raw_data ]
y_data = [ x[1] for x in raw_data ]

print("all_data ==", all_data)
print("x_data ==", x_data)
print("y_data ==", y_data)

all_data == [[1, 10], [2, 15], [3, 30], [4, 55]]
x_data == [1, 2, 3, 4]
y_data == [10, 15, 30, 55]

In [33]:
def sum(x, y) : 
    s = x + y
    return s

result = sum(10, 20)
print(result)

30

In [34]:
def multi_ret_func(x) : 
    return x+1, x+2, x+3

x = 100
y1, y2, y3 = multi_ret_func(x)
print(y1, y2, y3)

101 102 103

In [35]:
def print_name(name, count=2) :
    for i in range(count) :
        print("name ==", name)

print_name("DAVE")

name == DAVE
name == DAVE

In [36]:
def mutable_immutable_func(int_x, input_list) : 
    int_x += 1
    input_list.append(100)

x = 1
test_list = [1, 2, 3]
mutable_immutable_func(x, test_list)
print("x ==", x, ", test_list ==", test_list)

x == 1 , test_list == [1, 2, 3, 100]

In [37]:
f = lambda x : x+100

for i in range(3) :
    print(f(i))

100
101
102

In [39]:
class Person :
    def __init__(self, name) :
        self.name = name
        print(self.name + " is initialized")
    
    def work(self, company) :
        print(self.name + " is working in " + company)
    
    def sleep(self) : 
        print(self.name + " is sleeping")
        
obj = Person("PARK")
obj.work("ABCDEF")
obj.sleep()

PARK is initialized
PARK is working in ABCDEF
PARK is sleeping